---
import type { CollectionEntry } from "astro:content";

import ChipList from "./ChipList.astro";

interface Props {
    project: CollectionEntry<"project">["data"];
}

const { project } = Astro.props;
---

<article class="project-card">
    <a href={project.upstreamLink}></a>
    <img
        class="preview-image"
        src={project.previewImage}
        alt=`Preview image for ${project.name}`
    />
    <section class="project-data">
        <header>
            <h2>{project.name}</h2>
            <p>{project.description}</p>
        </header>
        {
            project.otherMembers ? (
                <section class="other-members">
                    <h3>Other members:</h3>
                    <ul>
                        {project.otherMembers.map((member) => (
                            <li>
                                <a href={member.githubUrl}>{member.name}</a>
                            </li>
                        ))}
                    </ul>
                </section>
            ) : null
        }
        {
            project.techStack ? (
                Array.isArray(project.techStack) ? (
                    <ChipList
                        labels={project.techStack}
                        caption="Technologies used:"
                    />
                ) : (
                    <div>
                        <p>Technologies used:</p>
                        <ChipList
                            labels={project.techStack.backend}
                            caption="BackEnd:"
                        />
                        <ChipList
                            labels={project.techStack.frontend}
                            caption="FrontEnd:"
                        />
                    </div>
                )
            ) : null
        }
    </section>
</article>
<style>
    :root {
        --card-elevation: 0;
        --member-link-elevation: 5;
    }

    .project-card {
        display: flex;
        flex-direction: row;
        position: relative;

        justify-content: space-between;

        padding: 1rem;
        max-width: 70%;
        min-height: 400px;

        margin: 1rem auto;
        border-radius: 0.5rem;

        background-color: var(--color-bg);
        box-shadow: 0 0 0.5rem var(--color-shadow);

        transition: box-shadow 0.2s ease-in-out;
    }

    .project-card .preview-image {
        max-width: 30rem;
        max-height: 30rem;
        border-radius: 0.5rem;

        object-fit: cover;
        object-position: center;
    }

    .project-card > a {
        border: none;
        outline: none;
    }

    .project-card > a::after {
        /* Do this in order to have a link on the project itself and then support other kinds of links */
        content: "";
        position: absolute;
        display: block;
        inset: 0;
        z-index: var(--card-elevation);
    }

    .project-card .project-data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        margin-left: 1rem;
    }

    .other-members {
    }

    .other-members > ul {
        padding-left: 2em;
    }

    .other-members ul li a {
        position: relative;
        z-index: var(--member-link-elevation);
    }
</style>
