---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Content.astro";

import TechStack from "../../components/Project/TechStack/index.astro";
import Members from "../../components/Project/Members.astro";
import AcademicInfo from "../../components/Project/AcademicInfo.astro";
import Banner from "../../components/Project/Banner.astro";
import UpstreamLink from "../../components/Project/UpstreamLink.astro";

export const getStaticPaths = (async () => {
  const projects = await getCollection("project");

  return projects.map((entry) => ({
    params: { project: entry.id },
    props: entry.data,
  }));
}) satisfies GetStaticPaths;

export type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const project = Astro.props;

---

<Layout title={`Project - ${project.name}`} bgColor="bg-color-background-light">
  <div class="flex flex-col flex-1 lg:flex-row w-full">
    <Banner
      bannerImage={project.previewImage}
      alt={project.name}
      deployment={project.deployment}
    />
    <section
      class="px-10 py-2 mt-5 lg:mt-0 lg:w-1/3 gap-5 lg:gap-0 flex flex-col lg:justify-between"
    >
      <header class="flex flex-col gap-3">
        <h1 class="font-bold text-3xl inline-flex items-center gap-1">
          <a
            class="hover:underline hover:underline-offset-2"
            href={project.upstreamLink}
          >
            {project.name}
          </a>
          <UpstreamLink upstreamLink={project.upstreamLink} />
        </h1>
        <p class="">{project.description}</p>
      </header>
      {
        project.academicData || project.otherMembers ? (
          <>
            {project.academicData ? (
              <AcademicInfo academicData={project.academicData} />
            ) : null}
            {project.otherMembers ? (
              <Members members={project.otherMembers} />
            ) : null}
          </>
        ) : null
      }

      {project.techStack ? <TechStack techStack={project.techStack} /> : null}
    </section>
  </div>
</Layout>
